@charset "utf-8";

body {
    font-family: 나눔고딕, 맑은 고딕, sans-serif;
}
.num1 {
    text-align: center;
}

h1 {
    background-color: black;
    color:white;
}

.visited { 
 font-size:12px;
 color:red;
}

.site {
    font-size: 25px;
    font-weight:bold;
}
a:hover {
    background-color: orange;
    color:#fff;
    text-decoration: line-through;
}

h2 {
    background-color: teal;
    color:white;
    text-align: right;
}

.spring {
    background-color: yellow;
}

.fall {
    background-color: yellow;
}

ol > li > span {
    color : red;
    font-size: 14px;
}